body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.column {
  display: inline;
  padding: 0px 3px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(25, 20px [col-start]);
  grid-template-rows: repeat(25, 20px [row-start]);
  grid-gap: 1px;
  padding: 1px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid grey;
  text-align: center;
  width: 100%;
  height: 100%;
}

.red {
  background-color: #ff0000;
}

.sidebar {
  display: flex;
  flex-flow: column;
  padding: 0 10px;
  max-width: 120px;
}
.sidebar-400 {
  display: flex;
  flex-flow: column;
  padding: 0 30px;
  max-width: 400px;
}

.grid-item:hover {
  background-color: rgb(253, 101, 101);
}

.game-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}